body {
  font-family: Arial, "Helvetica";
  font-size: 16px;
  color: #7f8c8d;
}

a {
  color: #7f8c8d;
}

svg,
header,
footer {
  margin: 0 auto;
}

h1, 
main {
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 1em;
  padding: 0 0 0.25em 0;
  border-bottom: #bdc3c7 1px solid;
  text-align: left;
}

footer {
  font-size: 0.5em;
}

